* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background: #fef6e4;
    --button: #AAF0D1;
    --stroke: #2C3E50;
    --headline: #2C3E50;
    --button-text: #2C3E50;
    --main: #2C3E50;
    --paragraph: #172c66;
    --highlight: #fef6e4;

}

body {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: var(--headline);
    padding: 0 30px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    
}

.nav-list {
    display: flex;
   
    list-style-type: none;
    gap: 50px;
    font-size: 18px;
}

.nav-item a {
    text-decoration: none;
    color: var(--button);
    font-weight: 500;
    margin: 0 5px;
}

.nav-item {
    margin: 0 15px;
    font-size: 18px;

}

.nav-item:hover a {
    color: var(--highlight);
    transition: color 0.3s ease;
}


.logo { 
   width: 100px;
}