* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background: lch(100% 0.01 296.81);
    --button: #AAF0D1;
    --stroke: #2C3E50;
    --headline: #2C3E50;
    --button-text: #2C3E50;
    --main: #2C3E50;
    --paragraph: #172c66;
    --highlight: #fef6e4;

}

body {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: var(--headline);
    padding: 0 30px;    
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    
}

.nav-list {
    display: flex;
   
    list-style-type: none;
    gap: 50px;
    font-size: 18px;
}

.nav-item a {
    text-decoration: none;
    color: var(--button);
    font-weight: 500;
    margin: 0 5px;
}

.nav-item {
    margin: 0 15px;
    font-size: 18px;

}

.nav-item:hover a {
    color: var(--highlight);
    transition: color 0.3s ease;
}


.logo {
   width: 100px;
}

.dashboard {
    background-color: var(--background);
    display: flex;
    padding: 50px;
    margin: 0 auto;
    max-width: 1600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    flex-direction: column;
    gap: 20px;
    
    height:  86.3vh;
    
}

.summary-cards {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  ;
}

.card {
    
  border: 1px solid #ccc; 
  padding: 30px;
  width: 300px;
  height: 150px; 
  text-align: center;
  background-color: #f9f9f9; 
  border-radius: 10px;
  
}

.card h3 {
  margin-bottom: 10px;
  font-size: 13px;
  color: gray;
}

.card p {
  font-size: 35px;
  font-weight: bold;
  
}


.card p, h3 {
   margin: 0 70px 0 0;
}

#incomeText {
    color: rgb(73, 174, 73);
}

#expensesText {
    color: rgba(183, 11, 11, 0.786);
}
#savingsText {
    color: rgb(60, 103, 176);
}