* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --background: #fef6e4;
    --button: #AAF0D1;
    --stroke: #2C3E50;
    --headline: #2C3E50;
    --button-text: #2C3E50;
    --main: #2C3E50;
    --paragraph: #172c66;
    --highlight: #fef6e4;

}

body {
    font-family: 'Roboto', sans-serif;
}


.navbar {
    background-color: var(--headline);
    padding: 30px 0;
    height: 80px  
}

.nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
    font-size: 18px;
}

.nav-item a {
    text-decoration: none;
    color: var(--button);
    font-weight: 500;
    margin: 0 5px;
}

.nav-item {
    margin: 0 15px;
}

.nav-item:hover a {
    color: var(--highlight);
    transition: color 0.3s ease;
}